<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-md-8 m-auto">
      <h1 class="mt-4 mb-4">Dashboard</h1>
      <!-- Flash message -->
      <% if(errorMsg !=null && errorMsg.length>0) {%>
      <div id="flash-msg" class="alert alert-danger">
        <%=errorMsg %>
      </div>
      <%}%>
      <div>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header card-red">Orders</div>
          <div class="card-body text-dark">
            <h5 class="card-title">Manage All  Orders</h5>
            <a class="btn btn-primary"  href="/superadmin/orders">Orders</a></h3>
          </div>
        </div>
      
      </div>
      <div>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header card-green">Categories</div>
          <div class="card-body text-dark">
            <h5 class="card-title ">Manage All  Categories</h5>
            <a class="btn btn-primary"  href="/categories">Categories</a></h3>
          </div>
        </div>
      
      </div>
      <div>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header card-green">Users</div>
          <div class="card-body text-dark">
            <h5 class="card-title ">Users</h5>
            <a class="btn btn-primary"  href="/superadmin/users">Users</a></h3>
          </div>
        </div>
      
      </div>
      
      
    </div>
  </div>
</div>

<%- include ../partials/footer %>
