<%- include ../partials/header %> <%- include ../partials/categories-navbar%>



<hr class="gradient-style" />

<!-- Latest products slider -->
<div class="container mb-4 mt-4">
  <!--Carousel Wrapper-->
  <div
    id="products-carousel"
    class="carousel slide carousel-multi-item"
    data-ride="carousel"
  >
    <!--Controls-->
    <div class="controls-top mb-2">
      <div class="row">
        <div class="col-8">
          <h3>Latest Products</h3>
        </div>
        <div class="col-4">
          <div class="controls float-right hidden-xs">
            <a
              class="left fa fa-chevron-left btn btn"
              href="#products-carousel"
              data-slide="prev"
            ></a
            ><a
              class="right fa fa-chevron-right btn"
              href="#products-carousel"
              data-slide="next"
            ></a>
          </div>
        </div>
        
        
      </div>
    </div>
    <!--/.Controls-->

    <!--Slides-->
    <div  role="listbox">
      <!--First slide-->
      <div class="">
        <div class="row">
          
          <div class="col-md-4 product-index-box">
            <div class="single-product d-flex flex-column h-100">
              <a
                class="title-link"
              >
                <img
                  src="/images/prod11.jpeg"
                  alt="Bag"
                  class="img-fluid"
              /></a>
              <div class="product-info">
                <a
                  class="title-link"
                >
                  <h6 class="mt-2 mb-2">Camera</h6></a
                >
                <div class="price">150.00</div>
              </div>
              
              <a
                class="btn btn-block btn-secondary button-style mt-auto mb-2"
              >
                Add to Shopping Cart
              </a>
              
            </div>
          </div>
          <div class="col-md-4 product-index-box">
            <div class="single-product d-flex flex-column h-100">
              <a
                class="title-link"
              >
                <img
                  src="/images/prod22.jpeg"
                  alt="Bag"
                  class="img-fluid"
              /></a>
              <div class="product-info">
                <a
                  class="title-link"
                >
                  <h6 class="mt-2 mb-2">Lapto</h6></a
                >
                <div class="price">99.00</div>
              </div>
              
              <a
                class="btn btn-block btn-secondary button-style mt-auto mb-2"
              >
                Add to Shopping Cart
              </a>
              
              
            </div>
          </div>
          <div class="col-md-4 product-index-box">
            <div class="single-product d-flex flex-column h-100">
              <a
                class="title-link"
              >
                <img
                  src="/images/prod33.jpeg"
                  alt="Bag"
                  class="img-fluid"
              /></a>
              <div class="product-info">
                <a
                  class="title-link"
                >
                  <h6 class="mt-2 mb-2">Headphones</h6></a
                >
                <div class="price">150.99</div>
              </div>
              
              <a
                class="btn btn-block btn-secondary button-style mt-auto mb-2"
              >
                Add to Shopping Cart
              </a>
              
              
            </div>
          </div>
          
        </div>

        

        <div class="row">
          
          <div class="col-md-4 product-index-box">
            <div class="single-product d-flex flex-column h-100">
              <a
                class="title-link"
              >
                <img
                  src="/images/prod44.jpeg"
                  alt="Bag"
                  class="img-fluid"
              /></a>
              <div class="product-info">
                <a
                  class="title-link"
                >
                  <h6 class="mt-2 mb-2">One Plus Mobile</h6></a
                >
                <div class="price">99.66</div>
              </div>
              
              <a
                class="btn btn-block btn-secondary button-style mt-auto mb-2"
              >
                Add to Shopping Cart
              </a>
              
            </div>
          </div>
          <div class="col-md-4 product-index-box">
            <div class="single-product d-flex flex-column h-100">
              <a
                class="title-link"
              >
                <img
                  src="/images/prod55.jpeg"
                  alt="Bag"
                  class="img-fluid"
              /></a>
              <div class="product-info">
                <a
                  class="title-link"
                >
                  <h6 class="mt-2 mb-2">Usb Ports </h6></a
                >
                <div class="price">255.00</div>
              </div>
              
              <a
                class="btn btn-block btn-secondary button-style mt-auto mb-2"
              >
                Add to Shopping Cart
              </a>
              
              
            </div>
          </div>
          <div class="col-md-4 product-index-box">
            <div class="single-product d-flex flex-column h-100">
              <a
                class="title-link"
              >
                <img
                  src="/images/prod66.jpeg"
                  alt="Bag"
                  class="img-fluid"
              /></a>
              <div class="product-info">
                <a
                  class="title-link"
                >
                  <h6 class="mt-2 mb-2">Type C Cable</h6></a
                >
                <div class="price">35.36</div>
              </div>
              
              <a
                class="btn btn-block btn-secondary button-style mt-auto mb-2"
              >
                Add to Shopping Cart
              </a>
              
              
            </div>
          </div>
          
        </div>


      </div>
      <!--/.First slide-->

      
    <!--/.Slides-->
  </div>
  <!--/.Carousel Wrapper-->
</div>

<%- include ../partials/footer %>
